<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.datasour.plus.mapper.BookMapper">
    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.datasour.plus.entity.Book">
        <id column="ID" property="id"/>
        <result column="NAME" property="name"/>
        <result column="COUNT" property="count"/>
    </resultMap>

    <sql id="BASE_COLUME">
        id, name, count
    </sql>

    <select id="selectListByBook" resultType="com.datasour.plus.entity.Book">

        select <include refid="BASE_COLUME"></include>
        from BOOK
            ${ew.customSqlSegment}

    </select>

</mapper>
